body{
    margin:0;
    background-color: dimgray;
}
header{
    height: 100px;
    background-color: #2e2d33;
}
.container{
    max-width:300px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    position: relative;  
    border-radius: 20px;
    top: 10px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 0px;
    top:20px;
    position: relative;
    text-align: center;
    color: azure;
}
input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;

}
@media screen and (max-width: 840px){
    header{
        height: 100px;
        background-color: #2e2d33;
        overflow: hidden;
    }
    
    h1{
        font-size: 2.5rem;
        top:115px;
        float:none;
        position: sticky;
    }
}